@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Lato:wght@300;400;700;900&family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url(./root.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.f-f-inter {
    font-family: 'Inter', sans-serif;
}
/* --------------btn----------------- */
.btn-1 {
    padding: 13px 35px;
    border: 1px solid var(--blue);
    color: var(--blue);
    transition: all 300ms linear;
}
.btn-1:hover {
    color: var(--white);
    background: var(--Gradient, linear-gradient(97deg, #128DFF -4.95%, #1444EF 109.04%));
}
.btn-2{
    background: var(--Gradient, linear-gradient(97deg, #128DFF -4.95%, #1444EF 109.04%));
    padding:  13px 35px !important;
    color: var(--white) !important;
}
.btn-2:hover{
    box-shadow: 0  10px 20px 2px var(--blue);
}
/* --------------btn----------------- */
.fw-600 {
    font-weight: 600;
}
.fw-400 {
    font-weight: 400;
}
.pt-33 {
    padding-top: 33px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-31{
    margin-top: 31px;
}
.line-height-normal {
    line-height: normal;
}
.max-w-286 {
    max-width: 286px;
    width: 100%;
}
.sidebar {
    padding: 21px 27px 0 29px !important;
    border-radius: 0 16px 16px 0;
    position: absolute;
    left: -100%;
    transition:  all 300ms linear ease-in-out;
    z-index: 5;
}
.sidebar.active{
    left: 0;
}
.linerbox{
    opacity: 0.5;
    height: 100vh;
    width: 100%;
    z-index: 4;
    left: -100%;
} 
.linerbox.active{
    left: 0;
}